body {
  font-family: sans-serif;
}

div {
  padding: 10px;
}

input[type="text"],
input[type="email"],
input[type="datetime-local"] {
  width: 100%;
}

form {
  width: 70%;
  margin: auto;
}
.centro {
  text-align: center;
}

button {
  background-color: rgb(9, 163, 198);
  padding: 10px 20px;
  color: white;
  cursor: pointer;
}

nav {
  background-color: rgb(9, 163, 198);
  float: left;
  width: 30%;
  height: 100%;
  box-shadow: 5px 0px 10px gray;
  color: white;
  transition: width 1s;
  overflow: hidden;
  position: fixed;
}

nav ul {
  padding: 0px;
}
nav li {
  list-style: none;
  cursor: pointer;
  padding-top: 5px;
}

nav li:hover {
  background-color: steelblue;
}
main {
  float: right;
  width: 70%;
  transition: width 1s;
}

.menu_fechar {
  width: 20px;
  opacity: 0;
}

.menu_abrir {
  width: 20px;
  opacity: 0;
}
.menu_aberto{
  width:40%;
}

.mensagem{
  display: none;
  background-color: indianred;
  animation: anima_mensagem 1s;
  color: white;
  padding: 20px;

}
.mensagem img {
    width: 20px;
    float: right;
    cursor: pointer;
}

.show {
  display: block;
}

@keyframes anima_mensagem{

    from {
      transform: translate3d(0px,-50px,0px);
      opacity: 0;
    }

    to{
      transform: translate3d(0px,0px,0px);
      opacity: 1;
    }

}

@media (max-width: 600px) {
  nav {
    width: 0%;
  }

  main {
    width: 100%;
  }

  .menu_fechar {
    opacity: 1;
  }

  .menu_abrir {
    opacity: 1;
  }
}
